- @title = 'Solitr - Play Solitaire online'
- @description = 'Solitr is a free open-source Solitaire game that you can play in your browser for free. No download or registration necessary.'
#solitaireCanvas
javascript:
  App.Controllers.KlondikeTurnThree.setupGame();
= render :partial => 'instructions/klondike'
