- @title = 'Spider Solitaire online - Solitr'

#pageContent
  .container
    .page-header
      h1 Spider Solitaire

    img src="http://upload.wikimedia.org/wikipedia/en/1/1a/Spider_Solitaire_Vista.png" style="float: right"

    p I haven't gotten around to implementing the Spider variant yet.

    p If you have Windows, you should have a copy of Spider Solitaire on your
      system, like in the picture on the right. Or, you could play on <a
      href="http://worldofsolitaire.com/">World of Solitaire</a> (hit Solitaire
      &rarr; Select Game in the menu bar) &ndash; I personally think their graphics are
      better than the Windows version.

    h2 What is Spider Solitaire Anyway?

    p Spider solitaire was popularized by the Spider Solitaire application in
      Windows.

    p Since then, it has become one of the most popular solitaire variants on the
      Internet. It even has its own <a
      href="http://en.wikipedia.org/wiki/Spider_Solitaire_(Windows)">Wikipedia
      page</a>.

    p The rules are simple: Build down the tableau with cards going from high to
      low. You can also move packs of cards, as long as they are sorted by rank
      and have the same suit. At any time, you may deal cards from the stock (on
      the lower right) onto the tableau, adding one card to each tableau pile. When
      you build a sequence from King all the way down to Ace on one tableau
      pile, it is immediately removed. The goal of the game is to remove all
      cards in this way.

    p There are several variants. The easiest (as in the screenshot) is One-Suit
      Spider. Spider can also be played with two or more suits, in which case <a
      href="http://www.semicolon.com/Solitaire/Articles/Spider.html">strategy</a>
      becomes important, and the game gets really difficult.
